ion-toolbar {
    --background: #333333;
    --color: white;
    font-family: 'Montserrat';

    .lbl:first-child {
        font-size: 0.8rem;
        font-weight: 600;
    }

    .lbl:last-child {
        font-size: 0.7rem;
        font-weight: 300;        
    }
}

