<ion-header>
  <ion-toolbar color="danger" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-menu-button menu="principal"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">{{ titulo }}</ion-title>
    <ion-label class="lbl-date" *ngIf="fecha"><small>{{ fecha }}</small></ion-label>
    <ion-label class="lbl-date" *ngIf="idAlbaran"><small>{{ idAlbaran }}</small></ion-label>
    <!-- <ion-label class="lbl-user">{{ cif }}</ion-label> -->
  </ion-toolbar>
</ion-header>
